<main class="main">
  <div class="form-div">

    <% if (errorMessage.length > 0) { %>
      <p class="error-message"> <%= errorMessage %> </p>
    <% } %>

    <% if (logoutFeedback.length > 0) { %>
      <p class="success-message"> <%= logoutFeedback %> </p>
    <% } %>
    <% if (flashError.length > 0) { %>
      <p class="error-message"> <%= flashError %> </p>
    <% } %>
    <h1> Log In </h1>
    <form id="form" method="post" action="/process-login">
      <div>
        <label for="email-input"> Username or Email </label>
        <input  id="email-input" name="userValue" type="text" placeholder="">
      </div>

      <div>
        <label for="password-input"> Password </label>
        <input  id="password-input" name="password" type="password"  placeholder="*****">
      </div>

      <button class="button-brown"> Log In </button>

    </form>
    <div id="signup">
      <h2>New to YouEat?</h2>
      <a href="/signup">
        Create your YouEat Account
      </a>
    </div>

    <!-- <a href="/auth/facebook">
      Log In with Facebook
    </a>
    <br>

    <a href="/auth/google">
      Log In with Google
    </a> -->
    <br>
  </div>
</main>
