<% if (signupFeedback.length > 0) { %>
  <p class="success-message"> <%= signupFeedback %> </p>
<% } %>
<div id="jumbotron">
  <h1>Organize Your Meals Weekly</h1>
  <p>YouEat allows users to create personalized meal plans by choosing from our large catalog of recipes. See a sample recipe below.</p>
  <div id="sample-recipes">
        <form  class="form-group" action="/sample" method="post">
          <label for="mealType">I am craving</label>
          <select class="form-control" id="mealType" name="mealType">
            <option value="Breakfast">Breakfast</option>
            <option value="Lunch">Lunch</option>
            <option value="Dinner">Dinner</option>
            <option value="Dessert">Dessert</option>
          </select>
          <label for="mealType">I am a</label>
          <a id="diet-info-icon" data-toggle="modal" data-target="#diet-info"><span class="glyphicon glyphicon-info-sign"></span></a>
          <select class="form-control" id="diet" name="restrict">
            <option value="Free Eater">Free Eater</option>
            <option value="Vegetarian">Vegetarian</option>
            <option value="Pescetarian">Pescetarian</option>>
          </select>
          <button class="button-brown" type="submit" name="button">Check it Out</button>
        </form>
  </div>
</div>
<div id="category-divider" class="flex">
  <h3 class="flex">View by Category</h3>
  <p class="flex">View our collection of delicious sample recipes with the links below.</p>
</div>
<div id="category" class="row">
  <div id="free-cat" class="col-md-4 col-sm-12 col-xs-12">
    <a href="/sample-recipes/category/FreeEater"><h1 class="flex">Free Eater</h1></a>
  </div>
  <div id="veg-cat" class="col-md-4 col-sm-12 col-xs-12">
    <a href="/sample-recipes/category/Vegetarian"><h1 class="flex">Vegetarian</h1></a>
  </div>
  <div id="pesc-cat" class="col-md-4 col-sm-12 col-xs-12">
    <a href="/sample-recipes/category/Pescetarian"><h1 class="flex">Pescetarian</h1></a>
  </div>
</div>
<div id="about-section" class="row flex">
  <div id="about-me" class="col-md-8 col-sm-12 col-xs-12 flex">
    <div class="overlay"></div>
      <h3>MY STORY</h3>
      <img src="" alt="">
      <p>I'm currently a full-time student at Iron Hack’s Web development bootcamp in Miami.Two years ago, I received a bachelor's of science in computer engineering, and I worked in IT as a network technician for one year. I love the creativity and problem solving attributes tied with coding, so I decided to join IronHack to help build my skills in web development.</p>
      <p> Specialties: JavaScript, Node.js, Angular 2, MongoDB, Express, HTML, CSS</p>
      <div>
        <a class="flex" href="https://www.linkedin.com/in/rdauphin/"><img src="/_images/icons/linkedin.png" alt="">linkedin.com/in/rdauphin</a>
      </div>
      <div>
        <a class="flex" href="https://github.com/rachdaup93"><img src="/_images/icons/git.png" alt="">github.com/rachdaup93</a>
      </div>
      <div>
        <a class="flex"><img src="/_images/icons/email.png" alt="">rachdaup.tech@gmail.com</a>
      </div>
  </div>
  <div id="side-section" class="col-md-4 col-sm-12 col-xs-12">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div>
        <h3>Save your Favorite Recipes!</h3>
        <p>YouEats allows you to add any recipe to your weekly calendar for quick access to their detailed pages.</p>
      </div>
    </div>
    <div class="item">
      <div>
        <h3>Pick your Diet!</h3>
        <p>YouEat provides 3 dietary restricts that automatically filters recipes based on their ingredients.</p>
      </div>
    </div>
    <div class="item">
      <div>
        <h3>Become a Contributer!</h3>
        <p>YouEat allows users to add their own recipes to keep the catelog diverse.</p>
      </div>
    </div>
  </div>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
</div>
    <div id="highlight-picture">
    </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="diet-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
  <div class="modal-content">
      <h3 class="modal-title" id="myModalLabel">Dietary Definitions</h3>
    <div class="modal-body">
      <h4>Vegetarian</h4>
      <p>A person who does not eat meat, and sometimes other animal product. These users will only see recipes for Vegetarians.</p>
      <h4>Pescetarian</h4>
      <p>A person who eats meat only from the sea. These users will see recipes for both Pescetarians and Vegetarians.</p>
      <h4>"Free Eater"</h4>
      <p>A person who eats anything they desire. These users will see all the recipes in the catelog.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="button-brown" data-dismiss="modal">Got it!</button>
    </div>
  </div>
</div>
</div>
