<% if (signupFeedback.length > 0) { %>
  <p class="success-message"> <%= signupFeedback %> </p>
<% } %>
<div id="jumbotron">
  <h1>Organize Your Meals Weekly</h1>
  <p>YouEat allows users to create personalized meal plans by choosing from our large catalog of recipes.</p>
  <div id="sample-recipes">
        <form  class="form-group" action="/sample" method="post">
          <label for="mealType">I am craving</label>
          <select class="form-control" id="mealType" name="mealType">
            <option value="Breakfast">Breakfast</option>
            <option value="Lunch">Lunch</option>
            <option value="Dinner">Dinner</option>
            <option value="Dessert">Dessert</option>
          </select>
          <label for="mealType">I am a</label>
          <select class="form-control" id="diet" name="restrict">
            <option value="Free Eater">Free Eater</option>
            <option value="Vegetarian">Vegetarian</option>
            <option value="Pescetarian">Pescetarian</option>>
          </select>
          <button class="button-brown" type="submit" name="button">Check it Out</button>
        </form>
  </div>
</div>
<div id="category-divider" class="flex">
  <h3 class="flex">View by Category</h3>
  <p class="flex">View our collection of delicious sample recipes with the links below.</p>
</div>
<div id="category" class="row">
  <div id="free-cat" class="col-md-4 col-sm-12 col-xs-12">
    <a><h1 class="flex">Free Eater</h1></a>
  </div>
  <div id="veg-cat" class="col-md-4 col-sm-12 col-xs-12">
    <a><h1 class="flex">Vegetarian</h1></a>
  </div>
  <div id="pesc-cat" class="col-md-4 col-sm-12 col-xs-12">
    <a><h1 class="flex">Pescetarian</h1></a>
  </div>
</div>
<div id="about-section" class="row flex">
  <div id="about-me" class="col-md-8 col-sm-12 col-xs-12 flex">
    <div class="overlay"></div>
      <h3>MY STORY</h3>
      <img src="" alt="">
      <p>I'm currently a full-time student at Iron Hack’s Web development bootcamp in Miami.Two years ago, I received a bachelor's of science in computer engineering, and I worked in IT as a network technician for one year. I love the creativity and problem solving attributes tied with coding, so I decided to join IronHack to help build my skills in web development.</p>
      <p> Specialties: JavaScript, Node.js, Angular 2, MongoDB, Express, HTML, CSS</p>
      <div>
        <a class="flex" href="#"><img src="/_images/icons/linkedin.png" alt="">linkedin.com/in/rdauphin</a>
      </div>
      <div>
        <a class="flex" href="#"><img src="/_images/icons/git.png" alt="">github.com/rachdaup93</a>
      </div>
      <div>
        <a class="flex" href="#"><img src="/_images/icons/email.png" alt="">rachdaup.tech@gmail.com</a>
      </div>
  </div>
  <div id="side-section" class="col-md-4 col-sm-12 col-xs-12">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="..." alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="..." alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="..." alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
  </div>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
</div>
    <div id="highlight-picture">
    </div>
    </div>
  </div>
</div>
