<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= maintitle%></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="/_css/main.css" />
    <link rel="stylesheet" href="<%=stylesheet%>" />
  </head>
  <body>
    <header>
      <nav>
        <!-- <a href="/howitworks"></a>
        <a href="/aboutme"></a> -->
        <a id="menu" href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
        <a id="home" href="/"><img src="/_images/logo.png" alt="" /></a>
<%        if(!currentUser){ %>
          <a id="log" href="/login"><span class="glyphicon glyphicon-log-in"></span></a>
<%        }else{ %>
          <div id="logout" class="flex">
            <span><%= currentUser.username %></span>
            <a id="log" href="/logout"><span class="glyphicon glyphicon-log-out"></span></a>
          </div>
  <%      } %>
      </nav>
    </header>
<%-body-%>
  <footer>
    <p>Copyright &copy; September 2017</p>
  </footer>
  <script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
