.form-div{
    background-color: rgba(0,0,0, .7);
    color: rgb(255,255,255);
    width:50%;
    margin: 0 auto;
    padding-top: 20px;
}
#hint{
  text-align: center;
  font-size: 16px;
}
#form .form-control,
#form input{
  min-height: 50px;
}

#form .form-control{
  max-width: 40%;
}

#form .form-control,
#form label{
  display: inline-block;
  font-size: 20px;
  text-align: right;
}

#form label{
  width: 34%;
}

#form select{
  margin: 0 30px 0 5px;
  margin-left: 30px;
  border-radius: 0;
}

#form button{
  padding: 20px;
  width: 100%;
  margin: 0 auto;
}

#form input{
  display: inline-block;
  border: none;
  width: 40%;
  margin-left: 30px;
  color: rgb(0,0,0);
}

#form div{
  margin: 40px;
}

.form-div > h1{
  font-size: 48px;
  text-align: center;
}

.error-message{
  width: 100%;
  min-height: 50px;
  font-size: 20px;
  background-color: rgb(220, 0,0);
  color: rgb(255,255,255);
  margin: -20px 0 15px 0;
  padding: 10px;
  text-align: center;
}

#form .preview-box{
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

#form .preview-box label{
  text-align: center;
}

.preview-box img{
  width: 200px;;
}

#form .more-button{
  display: block;
  width: 35%;
  margin: 15px auto;
}

textarea{
  color:
  display: block;
  width: 90%;
  height: 200px;
  margin: 0 auto;
  color: rgb(0,0,0);
}

#form .preview-box input{
  color: rgb(255,255,255);
}

#form #ingredients label,
#form #directions label,
#form #ingredients input,
#form #directions textarea{
  display: block;
  margin: 15px auto;
}

#form #ingredients label,
#form #directions label{
  text-align: center;
}

#form #directions textarea{
  height: 100px;
}

#form #keywords + p{
  margin-top: 5px;
  text-align: center;
}
